
  .header__navbar-link--home{
      text-decoration: none;
      color: var(--white-color);
      font-size: 1.4rem;
  }
  .header__navbar-link--home:hover{
    text-decoration: none;
    color: var(--white-color);
  }
  body {
    margin: 20px;
}

.shopping-cart{
  margin-bottom: 50px;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}
.shopping-cart-main{
  margin: 50px 100px 0px;
}
.table-title{
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.5rem;
}
.btn-clear{
  display: flex;
  color: white;
}
.btn-clear-click{
  margin: 0 auto;
  background-color: var(--primary-color);
  border: 1px solid var(--white-color);
  transition: 0.3s;
  width: 200px;
  font-family: 'Bai Jamjuree', sans-serif;
}
.btn-clear-click:hover{
  background-color: white;
  color: var(--primary-color);
  transition: 0.3s;
  border: 1px solid var(--primary-color);
}

/* cart */
.products-container{
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}
.products-container ion-icon{
  font-size: 25px;
  color: var(--primary-color);
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header{
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgrey;
  margin: 0 auto;
}
.product-title{
  width: 45%;
}
.price{
  width: 15%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}
.quantity{
  width: 30%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}
.total{
  width: 10%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}
.products{
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}
.basketTotalTitle{
  width: 30%;
}
.basketTotal{
  width: 10%;
}